<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>


  </div>

      <div class="row">


        <div class="col-md-7">
		<img src="{{ site.github.url }}/assets/img/uh-oneline-black.png" alt="Home" width="50%"><br>
<br>
		<font size="2"; style="font-family:"Helvetica Neue", Helvetica, Arial, sans-serif"><b>Behrooz Ferdowsi<br>
Assistant Professor of Civil and Environmental Engineering</b><br>
Department of Civil and Environmental Engineering<br>
Office: N115 Engineering Building 1<br>
Phone: 713-743-4293<br>
Email: bferdowsi@uh.edu<br></font>
  </div>

        <div class="col-md-5">
		<br>
	<br>	

<font size="2"; style="font-family:"Helvetica Neue", Helvetica, Arial, sans-serif"></font>
  </div>
    </div>


</footer>
