<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>


  </div>
  <div class="row">
        <div class="col-md-6">
<p style="padding: 10px; border: 1px solid grey;">
<i> <font size="2"; style="font-family:serif"></font></i> 
  </div>

        <div class="col-md-6">
<p style="padding: 10px; border: 1px solid grey;">
<i> <font size="2"; style="font-family:serif">The Land on which the University of Houston stands is part of the ancient homeland and traditional territory of the Karankawa, Atakapa-Ishak, Coahuiltecan,
and the Sana people. We pay respect to Karankawa, Atakapa-Ishak, Coahuiltecan, and the Sana  peoples past, present, and future and their continuing presence in the homeland and throughout their diasporas.</font></i> 
  </div>
    </div>


</footer>
