---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold">Welcome!</h3>
   This theme allows an academic person to showcase their research interests, publications, research group, curriculum vitae, any courses that they may be teaching, or anything else they may want to put out into the world.

Academics can use this home page to describe their research interests, display their latest publications, or provide an introduction to their research group. 
  </div>
  <div class="col-md-4">
    <img src="{{ site.github.url }}/assets/img/Ferdowsi-lab-fig1.jpg" alt="Home" width="100%">
  </div>
  <div class="col-md-4">
     This theme allows an academic person to showcase their research interests, publications, research group, curriculum vitae, any courses that they may be teaching, or anything else they may want to put out into the world.

Academics can use this home page to describe their research interests, display their latest publications, or provide an introduction to their research group.  
  </div> 
  <div class="col-md-8">
    <img src="{{ site.github.url }}/assets/img/Ferdowsi-lab-fig2.jpg" alt="Home" width="100%">
  </div>
</div>

<!-- {% include publications.html %} -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
