---
layout: default
---

{{ content }} <br>

<p><b><font size="4", color="black">Open positions:</font></b> We are looking for enthusiastic graduate and undergraduate students to join our research laboratory at the University of Houston. If you are interested in working with us, please contact Behrooz at bferdowsi@uh.edu .</p><br>


<p><b><font size="4", color="#1E88E5">Graduate student research positions</font></b><p>

<p>There is currently one funded PhD student positions available in the Ferdowsi Research Laboratory. This position is available with a start date as early as Spring 2023. Some of our active research areas include experimental and computational mechanics of earth materials, rheology of earth materials, granular mechanics, physics-based modeling and quantitative studies of earth's near-surface processes. Applications are welcomed from students with bachelor’s or master’s degree in Earth Science, Environmental Science, Geology, Geophysics, Physics, Civil and Environmental Engineering, Mechanical and Aerospace Engineering, Applied Mathematics, or related fields. A strong background or a strong interest in granular physics, solid mechanics, and/or fluid mechanics is helpful. Please specify in your statements if you have any prior experience in either:</p>

- computer programming</br>
- high performance computing</br>
- discrete element method, molecular dynamics or atomistic simulations</br>
- computational fluid dynamics</br>
- experimental investigation for rheology of soft materials and complex fluids</br>
- soil and sediment mechanics, mechanics of sediment transport</br>
- rock friction and deformation experiments.</br>
</br>

<p>The graduate student's research project will be designed in collaboration with the student and will be motivated by their interests and career goals, within the general research areas of the laboratory. There are also opportunities for collaboration with researchers and faculty at the <a href="http://ncalm.cive.uh.edu" target="_blank">National Center for Airborne Laser Mapping (NCALM)</a> which can connect small-scale modeling and laboratory-scale studies to geological-scale and remote sensing observations. The interested candidates are encouraged to (i) fill out this application form: <a href="https://forms.gle/CHgZR8zbNpBDt9EW7" target="_blank">https://forms.gle/CHgZR8zbNpBDt9EW7</a>, and (ii) apply to the <a href="http://www.cive.uh.edu/admissions/civil-engineering" target="_blank">PhD programs in Civil and Environmental Engineering at UH</a>.</p>

<p>TOEFL/IELTS or GRE scores are not required for admission to our research group in Spring 2023.</a></p>

<p>We strongly encourage applications from individuals who identify as members of groups that are underrepresented in science and engineering. The University of Houston embraces diversity and recognizes our responsibility to foster an open, welcoming environment where students, faculty and staff of all backgrounds can collaboratively learn, work and serve: <a href="https://uh.edu/diversity-equity-inclusion/" target="_blank">https://uh.edu/diversity-equity-inclusion/</a></p>

<p>Review of applications will start immediately and will continue until the positions are filled.</p><br>



<p><b><font size="4", color="#1E88E5">Undergraduate student research positions</font></b></br> 

<p>We welcome undergraduate students interested in working in our laboratory on a research project, as part of a summer research fellowship, or simply to gain research experience. Please contact me directly at bferdowsi@uh.edu and briefly describe your background and interests. University of Houston students interested in summer research are encouraged to contact me at bferdowsi@uh.edu to work together on an application for the <a href="https://uh.edu/honors/undergraduate-research/our-programs/surf/" target="_blank">Summer Undergraduate Research Fellowship (SURF)</a> program.</p><br>


