---
layout: default
---

{{ content }} <br>

<p><b><font size="4", color="#7401DF">Open positions:</font></b> We are looking for enthusiastic postdocs and students to join our research laboratory at the University of Houston. If you are interested in working with us, please contact me (Behrooz) at bferdowsi@uh.edu .</p><br>


<p><b><font size="4", color="blue">Undergraduate students</font></b></br> We welcome undergraduate students interested in working in our laboratory on a research project, as part of a summer research fellowship, or simply to gain research experience. Please contact me directly at bferdowsi@uh.edu and briefly describe your background and interests. University of Houston students interested in summer research are encouraged to contact me at bferdowsi@uh.edu to work together on an application for the <a href="https://uh.edu/honors/undergraduate-research/our-programs/surf/" target="_blank">Summer Undergraduate Research Fellowship (SURF)</a> program.</p><br>


