---
layout: default
---

{{ content }}

<font size="4" color="#1E88E5"><b> Behrooz's Google Scholar profile:</b></font>
 <a href="https://scholar.google.com/citations?hl=en&user=hbK4LH0AAAAJ&view_op=list_works&sortby=pubdate">https://scholar.google.com/citations?hl=en&user=hbK4LH0AAAAJ</a><br>

<br>
<br>

<h4><div>Articles in revision/review</div></h4>

<ul>



<div class="p"><!----></div>

<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>

<br>

<h4><div class="large">Peer-reviewed articles</div></h4>

<ol type="1">

<li>  <b>B. Ferdowsi</b>, A. M. Rubin<br />
Slide-hold-slide protocols and frictional healing in a simulated granular fault gouge<br />
<b><i>Journal of Geophysical Research: Solid Earth</i></b>, 2021<br />
<a href="https://doi.org/10.1029/2021JB022125">https://doi.org/10.1029/2021JB022125</a> [<a href="https://www.essoar.org/doi/abs/10.1002/essoar.10506597.3">open-access unformatted paper</a>]<br />
(<i>accepted, in press</i>)
<div class="p"><!----></div>
</li>
<br />

	
<li> B. Ferdowsi, J. D. Gartner, K. N. Johnson, A. Kasprak,<br />K. L. Miller, W. Nardin, A. C. Ortiz, A. Tejedor<br />
(review paper, equal contributions)<br />
Earthcasting: Geomorphic forecasts for society<i></i><br />
<b><i>Earth's Future</i></b>, 2021 <br />
<a href="https://doi.org/10.1029/2021EF002088">https://doi.org/10.1029/2021EF002088</a><br />
<font color="#1E88E5"><i> Selected as Editor's Highlight</i></font><br />
<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, A. M. Rubin<br />
A granular-physics-based view of fault friction experiments<br />
<b><i>Journal of Geophysical Research: Solid Earth</i></b>, 2020 <br />
<a href="https://doi.org/10.1029/2019JB019016">https://doi.org/10.1029/2019JB019016</a> [<a href="https://www.essoar.org/doi/abs/10.1002/essoar.10503066.1">open-access unformatted paper</a>]<br />
<font size="3" color="#1E88E5"><i>The simulation scripts used in this paper are available at: <a href="https://doi.org/10.5061/dryad.2z34tmphk">https://doi.org/10.5061/dryad.2z34tmphk</a></i></font><br />

<div class="p"><!----></div>
</li>
<br />

<li> D. B. Lee, <b>B. Ferdowsi</b>, D. J. Jerolmack<br />
The imprint of vegetation on desert dune dynamics<br />
<b><i>Geophysical Research Letters</i></b>, 2019<br />
 <a href="https://doi.org/10.1029/2019GL084177">https://doi.org/10.1029/2019GL084177</a>

<div class="p"><!----></div>
</li>
<br />	

<li> <b>B. Ferdowsi</b>, C. P. Ortiz, D. J. Jerolmack<br />
Glassy dynamics of landscape evolution<br />
<b><i>Proceedings of the National Academy of Sciences of the USA</i></b>, 115(19), pp. 4827-4832, 2018 <a href="http://www.pnas.org/content/pnas/115/19/4827.full.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, C. P. Ortiz, M. Houssais, D. J. Jerolmack<br />
River-bed armouring as a granular segregation phenomenon<br />
<b><i>Nature Communications</i></b>, 8 (1363), 2017<br />
<a href="https://www.nature.com/articles/s41467-017-01681-3">https://www.nature.com/articles/s41467-017-01681-3</a>
<a href="https://www.dropbox.com/s/0uuwnwom9atfuqs/s41467-017-01681-3.pdf">[PDF]</a> <br />
<font color="#1E88E5"><i>Highlighted in Penn News, Phys.org, EurekAlert!, Science Newsline, Environmental News Network:</font><br />
<a href="https://news.upenn.edu/news/brazil-nut-effect-helps-explain-how-rivers-resist-erosion-penn-team-finds">'Brazil Nut Effect' Helps Explain How Rivers Resist Erosion, Penn Team Finds</a></i>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
Acoustically-induced slip in sheared granular layers: application to dynamic earthquake triggering<br />
<b><i>Geophysical Research Letters</i></b>, 42 (22), pp. 9750-9757, 2015 <a href="https://www.dropbox.com/s/ohb60dp7sygda7r/Ferdowsi_et_al-2015-Geophysical_Research_Letters-3.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
3D Discrete Element Modeling of triggered slip in sheared granular media<br />
<b><i>Physical Review E</i></b>, 89 (4), pp. 042204(1-12), 2014 <a href="https://www.dropbox.com/s/dq8e9vaz0bxl6pa/PhysRevE.89.042204.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, and J. Carmeliet<br />
Effect of boundary vibration on the frictional behavior of a dense sheared granular layer<br />
<b><i>Acta Mechanica</i></b>, 225 (8), pp. 2227-2237, 2014 <a href="https://www.dropbox.com/s/g4lonrvzvt2ekpq/art%253A10.1007%252Fs00707-014-1136-y.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> P.&nbsp;A. Johnson, <b>B. Ferdowsi</b>, B. Kaproth, M.&nbsp;M. Scuderi, M. Griffa, J. Carmeliet, R.&nbsp;A. Guyer, P.-Y. Le Bas, D.&nbsp;T. Trugman, and C. Marone<br />
Acceleration of acoustical emission precursors preceding failure in sheared granular material<br />
<b><i>Geophysical Research Letters</i></b>, 40 (21), pp. 5627-5631, 2013 <a href="https://www.dropbox.com/s/b9q9slymvvd4w9j/Johnson_et_al-2013-Geophysical_Research_Letters-3.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.A. Guyer, P.A. Johnson, C. Marone and J. Carmeliet<br />
Microslips as precursors of large slip events in the stick-slip dynamics of sheared granular layers: a discrete element model analysis<br />
<b><i>Geophysical Research Letters</i></b>, 40 (16), pp. 4194-4198, 2013 <a href="https://www.dropbox.com/s/wlckv51hdu9gk25/Ferdowsi_et_al-2013-Geophysical_Research_Letters.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> M. Griffa, <b>B. Ferdowsi</b>, E.&nbsp;G. Daub, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
Influence of vibration amplitude on dynamic triggering of slip in sheared granular layers<br />
<b><i>Physical Review E</i></b>, 87 (1), pp. 012205(1-12), 2013 <a href="https://www.dropbox.com/s/g90mbeakg93ocam/PhysRevE.87.012205.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> M. Griffa, <b>B. Ferdowsi</b>, E.&nbsp;G. Daub, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
Meso-mechanical analysis of deformation characteristics for dynamically triggered slip in a granular medium<br />
<b><i>Philosophical Magazine</i></b>, 92 (28-30), 2012 <a href="https://www.dropbox.com/s/dalq63gb3hgnq1h/philosophicalmagazine_MG_BF_2012.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> A. Soroush and <b>B. Ferdowsi</b><br />
Three dimensional discrete element modeling of cyclic undrained behavior of granular media: a micromechanical perspective<br />
<b><i>Powder Technology</i></b>, 212 (1), pp. 1-16 , 2011 <a href="https://www.dropbox.com/s/5twoxq7qzovha7x/1-s2.0-S0032591011001902-main.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
</ol>

<div class="p"><!----></div>
<br>

<h4><div class="large">Manuscripts in preparation</div></h4>

<div class="p"><!----></div>

<ul>

<li> E. M. del Castillo, B. Ferdowsi, A. M. Rubin, B. Schoene<br />
<i>Discerning thrusting and strain localization patterns and propagation in 3D discrete element method (DEM) models of accretionary wedges</i><br />
in preparation
<div class="p"><!----></div>
</li>
<br>

<li> B. Ferdowsi, A. M. Rubin, B. Alessio<br />
<i>Transient rheology, stick-slip motion, and the direct velocity effect in sheared granular materials [tentative title]</i><br />
in preparation
<div class="p"><!----></div>
</li>

<br>

<li> B. Ferdowsi, A. M. Rubin<br />
<i>The fault gouge response to abrupt changes of normal stress </i><br />
in preparation
<div class="p"><!----></div>
</li>
<br>

<li> E. J. Harrison, B. Ferdowsi, J. Willenbring<br />
<i>On the contribution of granular rearrangements to soil production and transport [tentative title]</i><br />
in preparation
<div class="p"><!----></div>
</li>


</li>



<div class="p"><!----></div>

<div class="p"><!----></div>
</li>
</ul>
