---
layout: default
---

{{ content }}

<font size="4" color="#1E88E5"><b> Behrooz's Google Scholar profile:</b></font>
 <a href="https://scholar.google.com/citations?hl=en&user=hbK4LH0AAAAJ&view_op=list_works&sortby=pubdate">https://scholar.google.com/citations?hl=en&user=hbK4LH0AAAAJ</a><br>

<br>
<br>

<h4><div>Articles in revision/review</div></h4>

<ul>

<li>  <b>B. Ferdowsi</b>, A. M. Rubin<br />
<i> Slide-hold-slide protocols and frictional healing in a simulated granular fault gouge</i><br />
<b>Journal of Geophysical Research: Solid Earth</b><br />
Preprint: <a href="https://www.essoar.org/doi/abs/10.1002/essoar.10506597.3">https://www.essoar.org/doi/abs/10.1002/essoar.10506597.3 </a><br />
(revised and resubmitted)
<div class="p"><!----></div>
</li>

<div class="p"><!----></div>

<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>

<br>

<h4><div class="large">Peer-reviewed articles</div></h4>

<ol type="1">
	
<li> B. Ferdowsi, J. D. Gartner, K. N. Johnson, A. Kasprak,<br />K. L. Miller, W. Nardin, A. C. Ortiz, A. Tejedor<br />
(review paper, equal contributions)<br />
<i>Earthcasting: Geomorphic forecasts for society</i> (* Editor’s Highlight)<br />
<b>Earth's Future</b>, 2021 <br />
<a href="https://doi.org/10.1029/2021EF002088">https://doi.org/10.1029/2021EF002088</a><br />		
<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, A. M. Rubin<br />
<i>A granular-physics-based view of fault friction experiments</i><br />
<b>Journal of Geophysical Research: Solid Earth</b>, 2020. <br />
<a href="https://doi.org/10.1029/2019JB019016">https://doi.org/10.1029/2019JB019016</a> [<a href="https://www.essoar.org/doi/abs/10.1002/essoar.10503066.1">open-access unformatted paper</a>]<br />
<font size="3" color="#1E88E5"> The simulation scripts used in this paper are available at: <a href="https://doi.org/10.5061/dryad.2z34tmphk">https://doi.org/10.5061/dryad.2z34tmphk</a></font><br />

<div class="p"><!----></div>
</li>
<br />

<li> D. B. Lee, <b>B. Ferdowsi</b>, D. J. Jerolmack<br />
<i>The imprint of vegetation on desert dune dynamics</i><br />
<b>Geophysical Research Letters</b>, 2019<br />
 <a href="https://doi.org/10.1029/2019GL084177">https://doi.org/10.1029/2019GL084177</a>

<div class="p"><!----></div>
</li>
<br />	

<li> <b>B. Ferdowsi</b>, C. P. Ortiz, D. J. Jerolmack<br />
<i>Glassy dynamics of landscape evolution</i><br />
<b>Proceedings of the National Academy of Sciences of the USA</b>, 115(19), pp. 4827-4832, 2018. <a href="http://www.pnas.org/content/pnas/115/19/4827.full.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, C. P. Ortiz, M. Houssais, D. J. Jerolmack<br />
<i>River-bed armouring as a granular segregation phenomenon</i><br />
<b>Nature Communications</b>, 8 (1363), 2017.<br />
<a href="https://www.nature.com/articles/s41467-017-01681-3">https://www.nature.com/articles/s41467-017-01681-3</a>
<a href="https://www.dropbox.com/s/0uuwnwom9atfuqs/s41467-017-01681-3.pdf">[PDF]</a> <br />
<font color="#1E88E5">Highlighted in Penn News, Phys.org, EurekAlert!, Science Newsline, Environmental News Network:</font><br />
<a href="https://news.upenn.edu/news/brazil-nut-effect-helps-explain-how-rivers-resist-erosion-penn-team-finds">'Brazil Nut Effect' Helps Explain How Rivers Resist Erosion, Penn Team Finds</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
<i>Acoustically-induced slip in sheared granular layers: application to dynamic earthquake triggering</i><br />
<b>Geophysical Research Letters</b>, 42 (22), pp. 9750-9757, 2015. <a href="https://www.dropbox.com/s/ohb60dp7sygda7r/Ferdowsi_et_al-2015-Geophysical_Research_Letters-3.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
<i>3D Discrete Element Modeling of triggered slip in sheared granular media</i><br />
<b>Physical Review E</b>, 89 (4), pp. 042204(1-12), 2014. <a href="https://www.dropbox.com/s/dq8e9vaz0bxl6pa/PhysRevE.89.042204.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, and J. Carmeliet<br />
<i>Effect of boundary vibration on the frictional behavior of a dense sheared granular layer</i><br />
<b>Acta Mechanica</b>, 225 (8), pp. 2227-2237, 2014. <a href="https://www.dropbox.com/s/g4lonrvzvt2ekpq/art%253A10.1007%252Fs00707-014-1136-y.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> P.&nbsp;A. Johnson, <b>B. Ferdowsi</b>, B. Kaproth, M.&nbsp;M. Scuderi, M. Griffa, J. Carmeliet, R.&nbsp;A. Guyer, P.-Y. Le Bas, D.&nbsp;T. Trugman, and C. Marone<br />
<i>Acceleration of acoustical emission precursors preceding failure in sheared granular material</i><br />
<b>Geophysical Research Letters</b>, 40 (21), pp. 5627-5631, 2013. <a href="https://www.dropbox.com/s/b9q9slymvvd4w9j/Johnson_et_al-2013-Geophysical_Research_Letters-3.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> <b>B. Ferdowsi</b>, M. Griffa, R.A. Guyer, P.A. Johnson, C. Marone and J. Carmeliet<br />
<i>Microslips as precursors of large slip events in the stick-slip dynamics of sheared granular layers: a discrete element model analysis</i><br />
<b>Geophysical Research Letters</b>, 40 (16), pp. 4194-4198, 2013. <a href="https://www.dropbox.com/s/wlckv51hdu9gk25/Ferdowsi_et_al-2013-Geophysical_Research_Letters.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> M. Griffa, <b>B. Ferdowsi</b>, E.&nbsp;G. Daub, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
<i>Influence of vibration amplitude on dynamic triggering of slip in sheared granular layers</i><br />
<b>Physical Review E</b>, 87 (1), pp. 012205(1-12), 2013. <a href="https://www.dropbox.com/s/g90mbeakg93ocam/PhysRevE.87.012205.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> M. Griffa, <b>B. Ferdowsi</b>, E.&nbsp;G. Daub, R.&nbsp;A. Guyer, P.&nbsp;A. Johnson, C. Marone and J. Carmeliet<br />
<i>Meso-mechanical analysis of deformation characteristics for dynamically triggered slip in a granular medium</i><br />
<b>Philosophical Magazine</b>, 92 (28-30), 2012. <a href="https://www.dropbox.com/s/dalq63gb3hgnq1h/philosophicalmagazine_MG_BF_2012.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
<br />

<li> A. Soroush and <b>B. Ferdowsi</b><br />
<i>Three dimensional discrete element modeling of cyclic undrained behavior of granular media: a micromechanical perspective</i><br />
<b>Powder Technology</b>, 212 (1), pp. 1-16 , 2011. <a href="https://www.dropbox.com/s/5twoxq7qzovha7x/1-s2.0-S0032591011001902-main.pdf">[PDF]</a>

<div class="p"><!----></div>
</li>
</ol>

<div class="p"><!----></div>
<br>

<h4><div class="large">Manuscripts in preparation</div></h4>

<div class="p"><!----></div>

<ul>

<li> E. M. del Castillo, B. Ferdowsi, A. M. Rubin, B. Schoene<br />
<i> A Numerical evaluation of the Critical Taper Model for orogenic wedge stability [tentative title]</i><br />
in preparation
<div class="p"><!----></div>
</li>
<br>

<li> B. Ferdowsi, A. M. Rubin, B. Alessio<br />
<i> Transient rheology, stick-slip motion, and the direct velocity effect in sheared granular materials [tentative title]</i><br />
in preparation
<div class="p"><!----></div>
</li>

<br>

<li> B. Ferdowsi, A. M. Rubin<br />
<i> The fault gouge response to abrupt changes of normal stress </i><br />
in preparation
<div class="p"><!----></div>
</li>
<br>

<li> E. J. Harrison, B. Ferdowsi, J. Willenbring<br />
<i> On the contributions of granular rearrangement to soil production and transport [tentative title]</i><br />
in preparation
<div class="p"><!----></div>
</li>


</li>



<div class="p"><!----></div>

<div class="p"><!----></div>
</li>
</ul>
