---
layout: default
---

{{ content }} <br>

<h3 class="fw-bold border-bottom pb-3 mb-5">Resources of the laboratory</h3>

<p>This page is to be updated with a laboratory manual, resources for accessing and using the computational cluster for the lab members, manual for working with and processing the data from the rheometery lab. I also need to include resources for undergraduate, graduate, and postdoctoral fellowships, external funding, and research experience opportunities. This is a new lab website that we built in October 2021, the items for lab resource are still under compilation and review. We hope to have an updated resource page by sometime in December 2021. Please visit us back again if you are interested in seeing this page in its future updated state.</p><br>



