---
layout: default
---

{{ content }} <br>

<h3 class="fw-bold border-bottom pb-3 mb-5">Resources of the laboratory</h3>

<p>This page is to be updated with a laboratory manual, resources for accessing and using the computational cluster for the lab members, manual for working with and processing the data from the rheometery lab. I also need to include resources for undergraduate, graduate, and postdoctoral fellowships, external funding, and research experience opportunities. This is a new lab website that we built in October 2021, the lab resource items are still under development, compilation, and review. We hope to have an updated resource page by sometime in December 2022.</p><br>

<h4><div>Talks and presentations</div></h4>


<ul>
<br>

<li> <b>June 2022</b>: Behrooz's poster for the Gordon Research Conference Granular Matter 2022: <a href="https://www.dropbox.com/s/xb397ujctuhn5y7/GRC2022.pdf" target="_blank">https://www.dropbox.com/s/xb397ujctuhn5y7/GRC2022.pdf
</a></p><br>
</li>

<li> <b>December 2021</b>: Behrooz's talk at the Annual Fall Meeting of the American Geophysical Union (AGU) 2021, titled "Transient rheology, stick-slip motion, and the direct velocity effect in simulated sheared granular materials": <a href="https://youtu.be/XFMJbry2WXo" target="_blank">https://youtu.be/XFMJbry2WXo</a></p><br>
</li>
</ul>
